.home-banner {
  // background: url(../src/assets/img/Optimized-pexels-cottonbro-studio-4065145.jpg)
  //   no-repeat center center/cover;
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  z-index: -1;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/img/Optimized-pexels-cottonbro-studio-4065145.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: scaleBackground 2s ease-in-out;

  @keyframes scaleBackground {
    0% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  // home-text

  .home-content {
    padding: 12% 0;
    color: #fff;
    .home-text {
      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 24px;
      }
      h2 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 55px;
      }
      p {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 34px;
        max-width: 50%;
      }
    }

    .home-button {
      padding: 0 4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;

      a {
        padding: 15px 14px;
        outline: none;
        font-size: 0.9rem;
        font-weight: 600;
        color: #fff;
      }

      .service {
        background: #7d6388;
      }

      .contact {
        background: transparent;
        border: 2px solid gray;
      }
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
}
