.header {
  max-width: 450px;
  color: #fffefe;

  .first-header {
    display: none;
  }

  // large screen navlinks
  .main-header {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .header {
    max-width: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;

    .first-header {
      background: #55425b;
      padding: 0.4rem 4rem;
      display: block;

      .content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        color: #fffefe;

        h3 {
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 30px;
        }
        .social-icons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 7px;
          font-size: 0.9rem;
        }
      }
    }

    .main-header {
      padding: 0.7rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Nav-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #fffefe;

        span {
          border-radius: 50%;
          border: 1px solid purple;
          padding: 10px;
          svg {
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .header-links {
          display: flex;
          align-items: center;
          gap: 1rem;
          list-style: none;
          color: #fffefe;

          // li {
          //   // font-size: 0.9rem;
          //   // font-weight: 600;
          //   // line-height: 30px;
          //   // color: #55425b;
          //   // cursor: pointer;
          //   // transition: all 0.3s ease-in-out, all border-bottom-color 0.3s;
          //   a {
          //     position: relative;
          //     text-decoration: none;
          //     color: purple;
          //   }

          //   a::before {
          //     content: "";
          //     position: absolute;
          //     width: 0;
          //     height: 2px;
          //     bottom: -2px;
          //     left: 0;
          //     background-color: #f39c12; /* Change to your desired underline color */
          //     transition: width 0.5s ease, left 0.5s ease 5s;
          //   }

          //   a:hover::before {
          //     width: 100%;
          //     left: 0;
          //   }
          // }
        }

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .link {
          color: blue;
          text-decoration: none;
        }

        .link.hovered {
          text-decoration: underline;
        }

        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          background-color: white;
          border: 1px solid gray;
          padding: 10px;
        }

        .dropdown-menu ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        .dropdown-menu li {
          padding: 5px 0;
          cursor: pointer;
        }

        .selected-option {
          margin-top: 10px;
        }
      }
    }
  }
}
